.btn-learn
  text-transform: uppercase
  font-size: 14px
  font-weight: 700
  padding: 15px 20px
  background-color: $accent-bg
  border-radius: 3px
  transition: 300ms
  margin: 0 auto
  display: block

  &:hover
    background-color: $hover-color
  span
    color: white !important

  span:after
    color: white !important
    font-family: "FontAwesome"
    content: "\f178"
    margin: 0 0 0 10px

.title
  margin: 0 0 65px 0
  text-align: center
  h2
    color: rgba(0,0,0,.9)
    font-size: 34px
    font-weight: 400
    margin-bottom: 25px
    text-transform: uppercase
  p
    color: $gray-color
    font-size: 16px
    margin-bottom: 15px
  span
    display: block
    width: 50px
    height: 2px
    margin: 0 auto
    background-color: $accent

.title-alt
  margin: 0 0 65px 0
  text-align: center
  h2
    color: white
    font-size: 34px
    font-weight: 300
    margin-bottom: 25px
    text-transform: uppercase
  p
    color: white
    font-size: 16px
    margin-bottom: 15px
  span
    display: block
    width: 50px
    height: 2px
    margin: 0 auto
    background-color: white
