<div class="client-wrapper">
  <div class="carousel-wrapper">
    <div id="clients" class="owl-carousel">
      <div class="item client"><img src="../img/clients/1.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/2.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/3.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/4.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/1.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/2.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/3.png" alt="Client logo" /></div>
      <div class="item client"><img src="../img/clients/4.png" alt="Client logo" /></div>
    </div>
  </div>
</div>
