<header>
  <div class="minibar">
    <div class="minibar-contact">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>298-844-0468</p>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <p>contact@domain.com</p>
    </div>
    <div class="minibar-icons">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <i class="fa fa-vimeo" aria-hidden="true"></i>
    </div>
  </div>

  <nav class="navbar" id="navbar">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
          <i class="fa fa-bars"></i>
      </button>

      <div class="container-custom">
        <div class="collapse navbar-toggleable-sm" id="collapseEx2">
            <a class="navbar-brand"><img src="img/logo.png" alt="Logo" /></a>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a href="#home" class="nav-link active">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a href="#offert" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item">
                  <a href="#news" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="#newsletter" class="nav-link">Contact us</a>
                </li>
                <i class="fa fa-search" aria-hidden="true"></i>
            </ul>
        </div>
    </div>
  </nav>
</header>
