<section id="news">
  <div class="title">
    <h2>Latest news</h2>
    <p>Lorem ipsum dolor sit amet consecte adip scn elit sit secte</p>
    <span></span>
  </div>
  <div class="container news">
    <div class="col-lg-4 col-md-4 news-unit">
      <img src="img/news/1.jpg" />
      <div class="news-caption">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <h5>Boost you business</h5>
        <span>By Faridul Haque in Tutorials</span>
        <p>Lorem ipsum dolor sit amet, quaerendum, vis soleat similique argumentum in. Vis  duo ewi apeirian facilisi quaerendum, vis soleat similique argumentum in. Vis cu labitur reformidans.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 news-unit">
      <img src="img/news/1.jpg" />
      <div class="news-caption">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <h5>Boost you business</h5>
        <span>By Faridul Haque in Tutorials</span>
        <p>Lorem ipsum dolor sit amet, quaerendum, vis soleat similique argumentum in. Vis  duo ewi apeirian facilisi quaerendum, vis soleat similique argumentum in. Vis cu labitur reformidans.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 news-unit">
      <img src="img/news/1.jpg" />
      <div class="news-caption">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <h5>Boost you business</h5>
        <span>By Faridul Haque in Tutorials</span>
        <p>Lorem ipsum dolor sit amet, quaerendum, vis soleat similique argumentum in. Vis  duo ewi apeirian facilisi quaerendum, vis soleat similique argumentum in. Vis cu labitur reformidans.</p>
      </div>
    </div>
  </div>
</section>
