<section id="newsletter">
  <div class="title">
    <h2>Get latest updates from us</h2>
    <p>Lorem ipsum dolor sit amet consecte adip scn elit sit secte</p>
    <span></span>
  </div>
  <div class="md-form">
    <input type="text" id="form1" class="form-control">
    <label for="form1" class=""><i class="fa fa-envelope" aria-hidden="true"></i>Your E-mail*</label>
  </div>
  <button type="button" class="btn btn-subscribe">Subscribe<i class="fa fa-cloud" aria-hidden="true"></i></button>
</section>
