<section id="offert">
  <div class="title">
    <h2>Pricing table</h2>
    <p>Lorem ipsum dolor sit amet consecte adip scn elit sit secte</p>
    <span></span>
  </div>
  <div class="container price-list">
    <div class="col-lg-4 col-4-md price-unit">
      <h3>Basic</h3>
      <p>Suitable for Large Company</p>
      <div class="price">$1099/<span>Month</span></div>
      <span class="bar"></span>
      <div class="price-caption">
        <span>2 Unique concepts</span>
        <span>5 Revisitions</span>
        <span>Logo design</span>
        <span>24/7 Customer Support</span>
        <span>3-5 Business days</span>
        <button class="btn btn-order">Order</button>
      </div>
    </div>
    <div class="col-lg-4 col-4-md price-unit">
      <h3>Standard</h3>
      <p>Suitable for Large Company</p>
      <div class="price">$1599/<span>Month</span></div>
      <span class="bar"></span>
      <div class="price-caption">
        <span>2 Unique concepts</span>
        <span>5 Revisitions</span>
        <span>Logo design</span>
        <span>24/7 Customer Support</span>
        <span>3-5 Business days</span>
        <button class="btn btn-order">Order</button>
      </div>
    </div>
    <div class="col-lg-4 col-4-md price-unit">
      <h3>Professional</h3>
      <p>Suitable for Large Company</p>
      <div class="price">$2099/<span>Month</span></div>
      <span class="bar"></span>
      <div class="price-caption">
        <span>2 Unique concepts</span>
        <span>5 Revisitions</span>
        <span>Logo design</span>
        <span>24/7 Customer Support</span>
        <span>3-5 Business days</span>
        <button class="btn btn-order">Order</button>
      </div>
    </div>
  </div>
</section>
