<section id="portfolio">
  <div class="title">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consecte adip scn elit sit secte</p>
    <span></span>
  </div>
  <div class="container">
    <ul class="category">
      <li>All</li>
      <li>Photography</li>
      <li>Branding</li>
      <li>UI/UX</li>
      <li>Web development</li>
    </ul>
    <div class="portfolio-container">
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>WEB Desing</h5>
          <p>UI/UX, Photoshop</p>
        </div>
        <div class="unit-img"><img src="/img/1.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Symbols meaning</h5>
          <p>Photography</p>
        </div>
        <div class="unit-img"><img src="/img/2.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Kopi Luwak</h5>
          <p>Branding, Illustrator</p>
        </div>
        <div class="unit-img"><img src="/img/3.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>The phone</h5>
          <p>UI/UX, Photoshop</p>
        </div>
        <div class="unit-img"><img src="/img/4.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>The bag</h5>
          <p>Branding, Photoshop</p>
        </div>
        <div class="unit-img"><img src="/img/5.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Lost malawi tea</h5>
          <p>Web Development, HTML5</p>
        </div>
        <div class="unit-img"><img src="/img/6.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Swell</h5>
          <p>Branding, Illustrator</p>
        </div>
        <div class="unit-img"><img src="/img/7.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Invitation Mock-up</h5>
          <p>UI/UX, Photoshop</p>
        </div>
        <div class="unit-img"><img src="/img/8.jpg" alt="Portfolio picture" /></div>
      </div>
      <div class="col-4-lg col-4-md portfolio-unit">
        <div class="unit-mask">
          <div class="unit-icons">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
          <h5>Book mock-up</h5>
          <p>Photography, Photoshop</p>
        </div>
        <div class="unit-img"><img src="/img/9.jpg" alt="Portfolio picture" /></div>
      </div>
    </div>
    <button type="button" class="btn btn-learn"><span>Learn more</span></button>
  </div>
</section>
