<section id="services">
  <div class="services-icons">
      <div class="alt-bg"></div>
      <div class="icon-unit">
        <i class="fa fa-modx" aria-hidden="true"></i>
        <span>2d and 3d animation</span>
      </div>
      <div class="icon-unit accent-light">
        <i class="fa fa-gear" aria-hidden="true"></i>
        <span>Company brand identity</span>
      </div>
      <div class="icon-unit">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <span>Responsive Web Design</span>
      </div>
      <div class="icon-unit">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span>Web development</span>
      </div>
      <div class="icon-unit accent">
        <i class="fa fa-apple" aria-hidden="true"></i>
        <span>App development</span>
      </div>
      <div class="icon-unit left">
        <i class="fa fa-camera" aria-hidden="true"></i>
        <span>Photo & videogprahy</span>
      </div>
  </div>
  <div class="container">
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <h5>Creative writing</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <h5>Print design</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <h5>Social media</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-crop" aria-hidden="true"></i>
      <h5>Pixel perfect web</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-gear" aria-hidden="true"></i>
      <h5>Front end development</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-paint-brush" aria-hidden="true"></i>
      <h5>Graphic design</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-volume-up" aria-hidden="true"></i>
      <h5>Audio and video</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <h5>Optimized for speed</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
    <div class="col-lg-4 col-md-4 service-unit">
      <i class="fa fa-support" aria-hidden="true"></i>
      <h5>24/7 human support</h5>
      <p>Qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similique interpretaris cum. No quidam ocurreret repudiandae vel.</p>
    </div>
  </div>

</section>
