<section id="team">
  <div class="title-alt">
    <h2>The team</h2>
    <p>Lorem ipsum</p>
    <span></span>
  </div>
  <div class="container">
    <div class="owl-carousel owl-theme">
      <div class="team-unit item">
        <img src="/img/team/1.jpg" alt="Team Picture" />
        <span></span>
        <h4>Faridul Haque</h4>
        <p>Graphic designer</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/2.jpg" alt="Team Picture" />
        <span></span>
        <h4>Emma Stone</h4>
        <p>Graphic designer</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/3.jpg" alt="Team Picture" />
        <span></span>
        <h4>Jhon Stark</h4>
        <p>Software engineer</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/2.jpg" alt="Team Picture" />
        <span></span>
        <h4>Emma Stone</h4>
        <p>Graphic designer</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/3.jpg" alt="Team Picture" />
        <span></span>
        <h4>Bob Smith</h4>
        <p>CEO Executive</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/4.jpg" alt="Team Picture" />
        <span></span>
        <h4>Robert Wellington</h4>
        <p>Marketing expert</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="team-unit item">
        <img src="/img/team/2.jpg" alt="Team Picture" />
        <span></span>
        <h4>Emma Stone</h4>
        <p>Graphic designer</p>
        <div class="team-icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-behance" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>
