<section id="testimonials" class="alt-sect">
  <div class="title-alt">
    <h2>What our clients say</h2>
    <p>Lorem ipsum dolor sit amet consecte adip scn elit sit secte</p>
    <span></span>
  </div>
  <div class="tesimonials-wrapper container">
    <div class="testim-unit">
      <img src="../img/testim/1.jpg" alt="Testimonials Picture" />
      <h5>Watson Emma</h5>
      <span>Lorem Comp.</span>
      <p>1 Primis vocent comprehensam an vix, qui ferri alterum appareat id. Debitis nominati pertinacia ut nam. Te quo fastidii vituperata neglegentur, quidam offendit nec ut. Autem accumsan urbanitas no nam. Et qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similiqtur, quidam offendit nec ut. Autem accumsan urbanitas no nam. </p>
    </div>
    <div class="testim-unit">
      <img src="../img/testim/2.jpg" alt="Testimonials Picture" />
      <h5>Jhon Smith</h5>
      <span>OpenSource Ltd.</span>
      <p>2 Primis vocent comprehensam an vix, qui ferri alterum appareat id. Debitis nominati pertinacia ut nam. Te quo fastidii vituperata neglegentur, quidam offendit nec ut. Autem accumsan urbanitas no nam. Et qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similiqtur, quidam offendit nec ut. Autem accumsan urbanitas no nam. </p>
    </div>
    <div class="testim-unit">
      <img src="../img/testim/3.jpg" alt="Testimonials Picture" />
      <h5>Angelina Stark</h5>
      <span>Tech Ltd.</span>
      <p>3 Primis vocent comprehensam an vix, qui ferri alterum appareat id. Debitis nominati pertinacia ut nam. Te quo fastidii vituperata neglegentur, quidam offendit nec ut. Autem accumsan urbanitas no nam. Et qui eirmod vocent appareat. Tota graeci alterum ea eos, eu sint similiqtur, quidam offendit nec ut. Autem accumsan urbanitas no nam. </p>
    </div>
  </div>
  <div class="container">
    <div class="testimonials-caption">
      <p></p>
      <div class="testimonials-nav">
        <i class="prev fa fa-angle-left " aria-hidden="true"></i>
        <i class="fa fa-angle-left next" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
